:root {
  --main-color : #4B77BE;
  --main-bg-color : #4B77BE;
}

* {
  font-size : 12px;
  font-family : Consolas;
  font-weight : bold;
  border-radius : 5px;
}

#createGraph,
#newsTag,
#apiKeyForm {
  width: 95%;
  padding: 5px;
  margin: 10px 10px;
  border: 1px solid black;
  border-radius: 5px;
}

textarea,
input[type="text"] {
  color : var(--main-color);
  padding-left: 5px;
  border: 1px solid black;
}

input {
  border-radius: 5px;
}

#title {
  font-size: x-large;
  color: var(--main-color);
}

.close {
  float: right;
  padding: 0px 10px;
}

.close:hover {
  cursor: pointer;
  border 2px solid white;
}

.chartWindow {
  outline : 2px solid black;
}

.collapsible {
  background-color : var(--main-color);
  color : white;
  cursor : pointer;
  width : 100%;
  text-align : left;
  border : none;
  outline : 2px solid black;
}

.collapsible:after {
  content : '\02795';
  color : white;
  float : right;
  margin-right : 10px;
}

.newsBar {
  width: 100%;
  outline : 2px solid black;
  outline-top : none;
}



/* Menu bar css */
ul {
  list-style-type : none;
  margin : 0;
  padding : 0;
  overflow : hidden;
  background-color : #333;
}

#menu li {
  float: left;
  border-right:1px solid #bbb;
}

#menu li:last-child {
  border-right: none;
}

#menu li div {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.menuItem:hover {
  cursor : pointer;
  border-style : groove;
}

/* subMenu css */
#subMenu > li {
  width : 100%;
  border-top : 2px solid white;
  padding : 5px 10px;
}

#subMenu form {
  width : fit-content;
  margin : auto;
  border : 2px solid var(--main-color);
  border-radius : 5px;
  padding : 5px 15px;
}

#subMenu label {
  color : white;
  width : 30%;
  display : inline-block;
}

#subMenu label:after {
  content : ':';
  float : right;
}

#addNews textarea,
#addNews input[type="text"] {
  width: 65%;
  vertical-align : top;
  padding : 0px 5px;
}

#addNews > div {
  border : 2px solid var(--main-color);
  padding : 5px 5px;
  margin : 5px;
}

#subMenu > * {
  display : none;
}

.close:hover {
  transform : scale(3);
}

#blackOut {
  position : absolute;
  width : 90%;
  text-align : center;
  background-color: #333;
  opacity : 0.9;
  vertical-align : middle;
}
