* {
  font-size: 12px;
  font-family: Consolas;
  font-weight: bold;
}

#apiKeyForm {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

input[type="text"] {
  color : blue;
  padding-left: 5px;
  border: 1px solid black;
}

input {
  border-radius: 5px;
}

.setting {
  position: relative;
  display: inline;
  float: right;
}

#title {
  font-size: x-large;
  color: blue;
}
